
#header {
    background: #EEE;
    width: 100%;
    margin: 0;
    padding: 0 0 30px;
}
#page_header {
    background: #EEE;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0px;
}

#logo {
    padding-top: 30px;
    padding-left: 30px;
}

#page {
    text-align: center;
}

#checkin-form {
    font-size: 26px;
}

#checkin-form label {
    margin-top: 50px;
}

#checkin-form input {
    text-align: center;
    margin-top: 20px;
}

#checkin-form button {
    font-size: 26px;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}

.alert {
    margin: 0;
}

#welcome-page {
    margin-top: 100px;
    text-align: center;
}

#welcome-page h1 {
    color: rgb(39, 128, 227);
    font-size: 64px;
}

#welcome-page p {
    font-size: 24px;
}
.odd{
  background-color: #ccc;
}
