/* addnew css*/
#body-addnew {
    background-color: pink;
    padding-top: 30px;
}
#form {
    text-align: center;
    margin-top: 100px;
    border: 1px solid blue;
    width: 100%;
    background-color: #006666;
}

/* dashbord css*/
#dashbord-page {
    border: 1px solid green;
    background-color: #999966;
}

/* showall css*/
#showall-page {
    text-align: center;
    border: 1px solid red;
    padding: 200px 0 200px 0;
    background-color: #6666ff
}
#singlebutton-0 {
    font-size: 26px;
    background-color: green;
}
#showall-label1 {
    font-size: 40px;
    color: #333300
}
#textinput-1 {
    font-size: 30px;
    text-align: center;
}
#showall-label2 {
    font-size: 40px;
    color: #333300
}
#selectmultiple-0 {
    font-size: 30px;
}
/* checkin css*/
#checkin-page {
    text-align: center;
    border: 1px solid yellow;
    background-color: #ff5050;
}
#checkin-form {
    font-size: 26px;
}
#checkin-form label {
    margin-top: 50px;
}
#checkin-form input {
    text-align: center;
    margin-top: 20px;
}
#checkin-form button {
    font-size: 26px;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}
.alert {
    margin: 0;
}
